<div class="container text-center">
    <div class="row justify-content-md-center">
        <div class="col col-lg-8">
            <form class="form-signin" [formGroup]="complementoCadastroForm">
                <br>
                <h4 class="text-center">Só mais algumas informações...</h4>

                <br>
      
                <label for="estabelecimentoCNPJ">Selecione sua unidade de trabalho:</label>
                <select class="form-control col col-lg-12" id="estabelecimentoCNPJ" formControlName="estabelecimentoCNPJ" [ngClass]="{'is-invalid': displayMessage.estabelecimentoCNPJ }">
                    <option *ngFor="let estabelecimento of estabelecimentos" value="{{ estabelecimento.cnpj }}">{{ estabelecimento.nome }}</option>
                </select>
                <span class="text-danger" *ngIf="displayMessage.estabelecimentoCNPJ">
                    <p [innerHTML]="displayMessage.estabelecimentoCNPJ"></p>
                </span>
              
                <br>

                <input formControlName="nomeCompleto" type="email" id="nome" class="form-control col col-lg-12"
                    placeholder="Informe seu Nome Completo" required/>
                <br>
                <span class="text-danger" *ngIf="displayMessage.nomeCompleto">
                    <p [innerHTML]="displayMessage.nomeCompleto"></p>
                </span>

                <button class="btn btn-sm btn-success btn-block" (click)="registrarUsuario()">
                    CONFIRMAR
                </button>

            </form>
        </div>
    </div>
</div>